[submodule "external/pybind11"]
	path = external/pybind11
	url = git://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = git://github.com/syoyo/tinyobjloader.git
	branch = master
[submodule "external/DataLisp"]
	path = external/DataLisp
	url = git://github.com/PearCoding/DataLisp.git
	branch = master
[submodule "external/libsimdpp"]
	path = external/libsimdpp
	url = git://github.com/PearCoding/libsimdpp.git
	branch = master
