[submodule "external/pybind11"]
	path = external/pybind11
	url = git://github.com/pybind/pybind11.git
	branch = stable
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = git://github.com/tinyobjloader/tinyobjloader.git
	branch = master
[submodule "external/DataLisp"]
	path = external/DataLisp
	url = git://github.com/PearCoding/DataLisp.git
	branch = master
[submodule "external/pcg-cpp"]
	path = external/pcg-cpp
	url = git://github.com/imneme/pcg-cpp.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = git://github.com/jarro2783/cxxopts.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = git://github.com/zeux/pugixml.git
