# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Python/Jupyter files
*.ipynb
*.pyc

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.vs
# Not .vscode though!
build*
out
res

# Sandbox/Script output
*.raw

# Working on it... Still broken
tools/spectrum
CMakeSettings.json

# Ignore some external files as they have to be acquired manually due to copyright reasons
examples/*.bsdf
examples/*.binary
examples/*.xml
examples/fluorophores/*.csv
